* {
    box-sizing: border-box;
}

html,
body {
    background: #fffaf7;
    color: #2d2d2d;
    font: 16px/1.5 system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
}

body {
    margin: 0 auto;
    max-width: 42rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}
h2.homepage-header {
    font-size: 2.4rem;
}

h3 {
    margin-bottom: 0;
    text-transform: uppercase;
}

p {
    margin: 0 0 1rem;
}

a,a:visited {
    color: crimson;
}
a:hover, a:focus {
    color: black;
}

a.donate, a.donate:visited {
    background: #27ae60;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    transition: .3s ease-in-out background;
}
a.donate:hover, a.donate:focus {
    background: #2ecc71;
}

pre {
    overflow: auto;
    padding: 10px 0;
    width: 100%;
}

code {
    background: blanchedalmond;
    border: 1px solid burlywood;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 4rem 0;
    width: 100%;
}

img {
    display: block;
    height: auto;
    margin: 10px auto;
    max-width: 100%;
}
img[data-type=""], img[data-type="undefined"] {
    display: none;
}

header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 4rem;
}
header h2 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1;
}
header h2 a {
    font-weight: 600;
}
header nav a {
    margin-left: 10px;
}

.req-items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}
.req-items .item {
    align-items: center;
    align-self: stretch;
    background: white;
    border-radius: 4px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
    width: calc(33.33% - 1rem);
}
.req-items .item:after {
    color: lightgrey;
    content:'⇢';
    font-size: 5rem;
    font-weight: 600;
    line-height: 1;
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.req-items .item.last:after {
    display: none;
}
.req-items .item svg {
    height: 60px;
    margin: 0 auto;
    width: auto;
}
.req-items .item span {
    display: block;
    margin: 10px 0 0;
    text-align: center;
}
.req-items .full-item {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}
.req-items .full-item p {
    margin: 0 5px 0 0;
}
.req-items .full-item svg {
    height: 18px;
    position: relative;
    top: 1px;
}

.hero-purchase {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin: 4rem 0 4rem;
    padding: 20px;
}
.hero-purchase h2 {
    line-height: 1;
    margin: 0 0 1rem 0;
}
.hero-purchase .donations {
    background: #f9f9f9;
    border: 1px solid lightgrey;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
    padding: 20px;
}
.hero-purchase .donations p {
    line-height: 1;
    margin: 0 0 0 2rem;
    text-align: center;
}
.hero-purchase .donations code {
    display: block;
    margin-top: 4px;
}

article section {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    margin: 1.4rem 0;
    overflow: hidden;
    padding: 15px 15px 45px 15px;
    position: relative;
}
article section p:last-of-type {
    margin-bottom: 0;
}
article section .meta {
    background: #f9f9f9;
    border-top: 1px dashed lightgrey;
    bottom: 0;
    font-size: 80%;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
}
article section .meta a {
    line-height: 1;
    text-decoration: none;
}
article section .meta a,
article section .meta a:visited {
    color: grey;
    text-decoration: none;
}
article section .meta a:hover,
article section .meta a:focus {
    color: black;
    text-decoration: underline;
}
article section .meta time {
    color: grey;
}
article section .meta a:hover time {
    color: black;
}

.pagination {
    text-align: right;
}

footer {
    margin: 4rem 0;
}

@media(max-width:700px) {
    body {
        padding: 0 1rem;
    }
    .homepage-header {
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    .hero-purchase .donations {
        flex-direction: column;
    }
    .hero-purchase .donations p {
        margin: 1rem 0 0 0;
    }
}

@media(max-width:520px) {
    hr {
        margin: 2rem 0;
    }
    header {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    header nav {
        margin-top: 0.8rem;
    }
    header nav a {
        margin-left: 0;
        margin-right: 10px;
    }
    .req-items {
        flex-direction: column;
    }
    .req-items .item {
        margin-bottom: 1rem;
        width: 100%;
    }
    .req-items .item:after {
        display: none;
    }
}
